name: minepkg publish

on:
  release:
    types: [created]

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 1.16
        uses: actions/setup-java@v2
        with:
          distribution: 'adopt'
          java-version: 16
      - name: Publish package on minepkg.io
        uses: minepkg/action-publish@main
        with:
          api-key: ${{secrets.MINEPKG_API_KEY}}
